{{#partial "contenido"}}

  <ol id="lista3">
    <li>Empresa
      <ol>
       {{empresa.nombre}}
      </ol>
    </li>
    <li>Periodo</li>
    <li>Cuentas
       <ol>
           {{#each cuentas}}
            <option value= {{nombre}}> {{nombre}}</option>
            {{/each}}
       </ol>
    </li>
</ol>
{{/partial}}
{{>Home.hbs}} 