{{#partial "contenido"}}
<div class="post">
<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2 class="modal-okAlta">Se ha dado de alta correctamente!!!! <span class="modal-okAlta glyphicon glyphicon-thumbs-up"></span></h2>
      
      <a class="popup-cerrar" href="/indicadorAlta">X</a>
   </div>
</div>
</div>

{{/partial}}
{{>Home.hbs}}