{{#partial "contenido"}}
<div class="post">
<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2 class="errorLogueo">¡Se ha eliminado el elemento seleccionado!</h2>
      <a class="popup-cerrar" href="/indicadorEliminacion">X</a>
   </div>
</div>
</div>

{{/partial}}
{{>Home.hbs}}