{{#partial "contenido"}}

	<ol id="lista3">
    <li>List item</li>
    <li>List item</li>
    <li>List item
       <ol>
           {{#each cuentas}}
            <option value= {{nombre}}> {{nombre}}</option>
            {{/each}}
       </ol>
    </li>
    <li>List item</li>
    <li>List item</li> 
</ol>
{{/partial}}
{{>Home.hbs}}	