{{#partial "contenido"}}
  <ol id="lista3">
    <li>Empresa
      <ol>
        {{#each empresas}}
          <option value= {{nombre}}> {{nombre}}</option>
         {{/each}}
       </ol>
    </li>
  </ol>
{{/partial}}
{{>Home.hbs}} 