{{#partial "contenido"}}
<div class="post">
<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2 class="errorLogueo">Error de Logueo</h2>
      <p class ="errorLogueo">Usuario o Password incorrectos!<p>
      <a class="popup-cerrar" href="/">X</a>
   </div>
</div>
</div>

{{/partial}}
{{>login.hbs}}