{{#partial "contenido"}}
<div class="post">
	<h2 class="title"><a href="#">Bienvenido al Sistema de Consulta sobre Inversiones </a></h2>
		<p class="meta"><span class="posted">Creado por <a href="#">Grupo 13</a></span></p>
			<div style="clear: both;">&nbsp;</div>
				<div class="entry">					
								<p>En esta página ud podrá consultar las cuentas existentes a una Empresa, y si e conviene o no invertir en alguna empresa.</p>
					
			</div>
</div>

{{/partial}}
{{>Home.hbs}}