<html>
<head>
<link href="/css/integrantes.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<ol id="lista2">
    <li>Melisa Gomez Muñoz</li>
    <li>Daniela Montanaro</li>
    <li>Diana Mamani</li> 
</ol>
</div>
</body>
</html>