{{#partial "contenido"}}
	<div id="formularioMetodologiasModificacion">
    <h1> Modificacíon de Metodologias </h1>

    <form action="/metodologiasModificacion" method="get" id="signupForm">

 <div class="fieldContainer">

         <div class="formRow">
         <div class="label div-with-label">
                <label for="Metologia">Seleccionar Metodologia:</label>
            </div>
            <select name="Metodologia" class="label styled-select black rounded">
            <option value="-1" name "field">Seleccionar</option>
            {{#each metodologia}}
            <option value= {{nombre}}> {{nombre}}</option>
            {{/each}}
        </select>
        </div>

        <div class="formRow">
            <div class="label div-with-label">
                <label for="Nombre">Nombre:</label>
            </div>
           <form action="/action_page.php">
            <input type="text" name="fname"><br>
        </div>
        
        <div class="formRow">
            <div class="label div-with-label">
                <label for="Condicion">Condicion:</label>
            </div>
           <form action="/action_page.php">
            <input type="text" name="fname"><br>
        </div>

          
    </div> <!-- Closing fieldContainer -->
    
         <div class="botonConsulta ">
             <button  type="submit" class="btn btn-primary button-consulta button-border">Guardar</button>
       </div>
    
   </form>
        
</div>

{{/partial}}
{{>Home.hbs}}
