{{#partial "contenido"}}
<div class="post">
<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2 class="errorLogueo">Tristes noticias</h2>
      <h2 class ="errorLogueo">No conviene invertir en la empresa</h2>
      <a class="popup-cerrar" href="/metodologias">X</a>
   </div>
</div>
</div>

{{/partial}}
{{>Home.hbs}}