{{#partial "contenido"}}
<div class="post">
<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2 class="errorLogueo">No se puede calcular</h2>
     <a class="popup-cerrar" href="/indicadorConsulta">X</a>
   </div>
</div>
</div>

{{/partial}}
{{>Home.hbs}}