{{#partial "contenido"}}
<div class="post">
<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2 class="errorLogueo">El valor obtenido es:</h2>
      <p class ="errorLogueo">{{resultado}}<p>
      <a class="popup-cerrar" href="/indicadorConsulta">X</a>
   </div>
</div>
</div>

{{/partial}}
{{>Home.hbs}}