.div-with-label-ind{
    width: 99px;
   text-align: left;
}

.styled-select-ind {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 180px;
 }
 .black-ind   { background-color: #000; }    
 .rounded-ind {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:pink;
 }

 .button-consulta-ind { 
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-border-ind{
    border: #ea80c6;
    border-radius: 8px;
}