*{
    /* Resetting the default styles of the page */
    margin:0;
    padding:0;
}

html{
    overflow:auto;
}

body{
    /* Setting default text color, background and a font stack */
    font-size:0.825em;
    color:#eee;
    background:url("img/bg.png") repeat-x #222222;
    font-family: 'Raleway', sans-serif;
    color: #ea4c88;
}

#formularioConsulta{
    /* The main form container */
    background-color:#1C1C1C;
    border:1px solid #ea4c88;
    margin:20px auto;
    padding:20px;
    width:500px;
    
    -moz-box-shadow:0 0 1px #444 inset;
    -webkit-box-shadow:0 0 1px #444 inset;
    box-shadow:0 0 1px #444 inset;
}

#formularioConsulta h1{
    /* The form heading */
    font-family: 'Raleway', sans-serif;
    font-size:40px;
    font-weight:normal;
    padding:0 0 30px 10px;
    text-align:left;
     background-color:#1C1C1C;
}

.fieldContainer{
    /* borde de los campos */
    background-color:#1E1E1E;
    border:1px solid #ea4c88;
    padding:30px 10px;
    
    /* CSS3 caja de sombra */
    -moz-box-shadow:0 0 20px #292929 inset;
    -webkit-box-shadow:0 0 20px #292929 inset;
    box-shadow:0 0 20px #292929 inset;

}

#formularioConsulta,.fieldContainer,.errorTip{
    /* redondear los divs de una vez */
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;


}


.formRow{
    height:35px;
    padding:10px;
    position:relative;

}

.label{

    float:left;
    padding:0 10px 0 0;
    text-align:right;
}

label{

     font-family: 'Raleway', sans-serif;
    font-size:11px;
    letter-spacing:1px;
    line-height:30px;
}

.field{
    float:left;
}

.field input{
    /* The text boxes */
    border:1px solid white;
    color:#666666;
    font-family: 'Raleway', sans-serif;
    font-size:22px;
    padding:4px 5px;
    background:url("img/box_bg.png") repeat-x scroll left top #1C1C1C;
    outline:none; /* Preventing the default Safari and Chrome text box highlight */
}

.botonConsulta{
    /* The submit button container */
    text-align:center;
    padding:30px 0 10px;
}

#Consulta{
    /* The submit button */
    border:1px solid #f4f4f4;
    cursor:pointer;
    height:40px;
    text-indent:-9999px;
    text-transform:uppercase;
    width:110px;
    
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

#Consulta.active{
    /* Marking the submit button as active adds the preloader gif as background */
    background-image:url("img/preloader.gif");
}

#Consulta:hover{
    background-color:#dcf2ff;
    border:1px solid white;
}

input:hover,
input:focus{
    -moz-box-shadow:0 0 8px lightblue;
    -webkit-box-shadow:0 0 8px lightblue;
    box-shadow:0 0 8px lightblue;
}

.errorTip{
    /* The error divs */
    background-color:#970F08;
    color:white;
    font-size:10px;
    height:26px;
    letter-spacing:0.4px;
    margin-left:20px;
    padding:5px 0 5px 10px;
    position:absolute;
    text-shadow:1px 1px 0 #555555;
    width:200px;
    right:-130px;
}



#footer{
    position:fixed;
    bottom:0;
    width:100%;
    padding:10px;
    color:#eee;
    text-align:center;
    font-weight:normal;
    font-style:italic;
}

a, a:visited {
    color:#0196e3;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

a img{
    border:none;
}
.div-with-label{
    width: 99px;
   text-align: left;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 180px;
 }
 .black   { background-color: #000; }    
 .rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }