.button-Alta { 
   background-color: #555555;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-right: 50px;
 }

 .button-border-Alta{
   border: #ea80c6;
   border-radius: 8px;
}